
    </div>
    <div id="column-right" class="margin">
        <div class="logo">
            <a href="/"><img src="/img/kalenderlogo.png" alt="page logo"></a>
        </div>
    </div>
</div>
</body>
</html>