<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleiker Kalender</title>
    <link rel="icon" type="image/x-icon" href="../../img/kalenderlogo.png">

    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <% if(typeof(cssList) !== 'undefined' && Array.isArray(cssList)) { %>
        <% for(cssSheet of cssList) { %>
            <link rel="stylesheet" href=<%=cssSheet%>>
            <% } %>
    <% } %>
    <script src="js/script.js" defer></script>
    <script src="js/swipe.js" defer></script>
    <script src="js/progress-bar.js" defer></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <!-- <script src="https://cdn.usefathom.com/script.js" data-site="KFNWRZEH" defer></script> -->
    <!-- / Fathom -->
</head>
<body>
    <div class="content-wrapper">

        <div id="column-left" class="margin">
            
        </div>
        <div id="column-mid">  
            <a href="/" class="invisilink"><h1>Bleikerkalenderen 2023</h1></a>