<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleiker Kalender</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/script.js" defer></script>
    <script src="js/swipe.js" defer></script>
    <script src="js/progress-bar.js" defer></script>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="KFNWRZEH" defer></script>
    <!-- / Fathom -->
</head>
<body>
    <div class="content-wrapper">

        <div id="column-left" class="margin">
            
        </div>
        <div id="column-mid">  
            <h1>Bleikerkalenderen 2023</h1>
     
            <main id="grid-container">
                
            </main>
            
            <footer>
                <div id="progress-container">
                    <div id="pad-bar">
                        <div id="date-display"></div>
                        <div id="progress-bar"></div>
                        <div id="progress-display">Dager til jul: <span id="percentage"></span>%</div>
                    </div>
                </div>
                <p> &copy; 2023 Petter, Theodor, Martin og Lukas, 2ITA, 1IMX</p>
            </footer>
        </div>
        <div id="column-right" class="margin">
            <div class="logo">
                <img src="/img/kalenderlogo.png" alt="page logo" srcset="">
            </div>
        </div>
    </div>
</body>
</html>
