body {
    background-color: var(--success-bg);
}

#answerlist {
    font-size: 12rem;
}

#answerlist .answer {
    display: flex;
    padding: 0.2ch 1ch;
    margin: 1px;
    background-color: aliceblue;
    /* height: 1ch; */
}

#answerlist .answer > * {
    display: inline-block;
    color: green;
    font-size: 2rem;
    margin: 0 1ch;
    width: 20ch;
    
}