:root {
    /* Common properties */
    --main-bg-color: #ff000079; /* Light gray background */
    --header-footer-bg: #0f4c6c; /* Dark background for header and footer */
    --header-footer-text: #fff; /* White text color for header and footer */
    --grid-border: #ddd; /* Border color for grid items */
    --unopenable-bg: #ccc; /* Gray background for unopenable items */
    --unopenable-text: #555; /* Darker text color for unopenable items */
    --hover-bg: #e0e0e0; /* Light gray background on hover */
    --red-theme: #BC1925;

    --margin-width: 25vw;
    --background-shadow: #28857c;
}
body {
    display: flex;
    box-sizing: border-box;
    background-image: url("../img/desktop_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}
.bow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--unopenable-bg); /* Unopenable color for the bow */
    border-radius: 50%;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the bow is above the lid and ribbon */
    background-color: green;
}
.bow::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff; /* Inner bow color */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the inner bow is above the outer bow */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

#column-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
}

/* Centered and styled footer */

#date-display {
    text-align: center;
    color: white;
    padding: 5px;
}
footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    padding: 10px;
    text-align: center;
    z-index: 5;
}


#heading {
    display: flex;
    justify-content:space-evenly;
    color: var(--header-footer-text);
    height: 12rem;
    text-align: center;
    vertical-align: bottom;
}

#column-mid h1 {
    padding-top: 2rem;
    font-size: 5rem;
    color: white;
    text-align: center;
}
.logo {
    width: inherit;
}
.logo img{
    width: 100%;
}


#grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    gap: 1rem;
    padding: 0;
    margin: 0 auto; /* Center the grid */
    max-width: 90vw; /* Adjust the max-width as needed */
    margin-top: 10px; /* Adjust the top margin to reduce space under the footer */
    width: 50rem;
}

.grid-item {
    border: 1px solid var(--grid-border);
    text-align: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; /* Added for positioning */
    background-color: var(--red-theme);
}

.grid-item:hover.openable,
.grid-item:hover.openable .lid,
.grid-item:hover.openable .ribbon,
.grid-item:hover.openable .bow {
    background-color: var(--hover-bg);
}
.grid-item-text {
    position: relative;
    z-index: 5; /* Adjust the z-index value as needed */
    font-size: 30px;
    margin-top: -10px; /* Adjust margin-top as needed to bring the text forward */
    color: white;
}


.lid {
    position: absolute;
    width: 110%;
    height: 10%;
    background-color: var(--unopenable-bg); /* Unopenable color for the lid */
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0; /* Ensure the lid is behind the bow and ribbon */
    background-color: white;
}

.margin {
    width: 25vw;
}

#progress-bar {
    z-index: 10;
    background-color: var(--background-shadow);
    height: 20px;
}

#progress-display {
    color: white;
    text-align: center;
    padding: 5px;
}

/* This is the horizontal line on the packages in the grid. */
/* .ribbon {
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: var(--unopenable-bg);
    top: 60;
    rotate: 90deg;
    z-index: 2;
    background-color: white;
} */

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky-header header, .sticky-header footer {
    background-color: transparent;
    color: var(--header-footer-text);
    padding: 10px;
    text-align: center;
}

.unopenable {
    background-color: var(--unopenable-bg);
    color: var(--unopenable-text);
    cursor: not-allowed;
    font-size: 30px;
}
.unopenable-rib {
    background-color: var(--unopenable-bg);
    color: var(--unopenable-text);
    cursor: not-allowed;
}


@media only screen and (max-width: 600px) {
    #grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr); /* Adjust rows for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #column-mid h1 {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 1200px) {
    .content-wrapper {
        justify-content: center ;
    }
    #column-left {
        display: none;
    }
    #column-right {
        display: none;
    }
}

@media (pointer:coarse) {
    /* custom css for "touch targets" */
    .logo{
        display: none;
    }
}
