body, html {
    margin: 0;
    padding: 0;
  }


body {
    background: url('DesktopFinal.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    /* position: fixed; */

    /* height: 100vh; */
}

h1 {
    /* position: fixed; */
    /* top: -5%; */
    color: white;

    font-size: 500%;
}

.form {
    width: 325px;
    height: 125px;

    /* position: absolute; */
    /* top: 250px; */
    /* left: 205px; */
    /* transform: translate(-50%, -50%); */

    padding: 20px;
    font-size: 100%;
    text-align: center; 
    color: black; 
}

.videoDiv {
    display: flex;
    justify-content: center;
    align-items: center;


}




@media only screen and (max-width: 660px) { 
    body {
        background: url('MobilFinal.jpg');
        background-size: cover;

        position: fixed;
    }

    h1 {
        position: fixed;
        top: -1%;
        left: 40%;
        color: white;
    
        font-size: 250%;
    }
    
    .form {
        width: 325px;
        height: 125px;
    
        position: absolute;
        top: 550px;
        left: 205px;
        transform: translate(-50%, -50%);
    
        padding: 20px;
        font-size: 100%;
        text-align: center; 
        color: black; 
    }

    .videoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: rgb(50, 75, 255);
        border-bottom: 5px solid rgb(7, 17, 126);
        border-top: 5px solid rgb(7, 17, 126);
        border-left: 5px solid rgb(7, 17, 126);
        border-right: 5px solid rgb(7, 17, 126);
        border-radius: 25px;
    
        width: 70vw;
        max-width: 750px;
        height: 20vh;
        max-height: 450px;
    
        position: fixed;
        top: 350;
        left: 200px;
    
        transform: translate(-50%, -50%);

        z-index: -2;
    }

    .video-container {
        width: 90%;
        height: 100%;
    
        position: fixed;
        top: auto;
        left: auto;

    
        object-fit: cover;
        z-index: -1;
    }
    
    .video-container video {
        width: 100%;
        height: 100%
    }
}