body, html {
    margin: 0;
    padding: 0;
  }


body {
    background: url('DesktopFinal.jpg');
    background-size: cover;
    height: 100vh;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;

}

.titleDiv h1 {
    color: white;
    font-size: 3rem;
}

.form {
    width: 30ch;
    margin: 0 auto;
    padding: 1rem;
    text-align: center; 
    color: var(--header-footer-text); 
    background-color: var(--header-footer-bg);
}

.videoDiv {

    background-color: var(--header-footer-bg);
    max-height: 50%;

}

.video-container video {
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 660px) { 
    body {
        background: url('MobilFinal.jpg');
        background-size: cover;
    }
    .content-wrapper {
        width: 100%;
    }
    .form {
        font-size: 1.4rem;
        margin-top: 5ch;
    }
    .form input{
        font-size: 1.4rem;
    }
}