body{
   background-image: url('desktop_bg.png');
   background-size: 100%;
}

h1{
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 250%;
   color: white;
}

.bgimg{
   width: 100%;
   height: auto;
}

#spm{
   max-width: 30%;
   height: auto;
   text-align: center;
   margin: auto;
}

img{
   width: 90%;
   border: 20px;
   border-color:crimson ;
   border-style:double;
}

.form{
   font-size: 120%;
   font-family:cursive;
   color:ghostwhite;
   background-color: teal;
   border-radius: 10px;
   padding: 20px;
   max-width: 400px;
   margin: 20px auto;
}

input{
   background-color: white;
   font-family:cursive;
   color: teal;
   width:100%;
   font-size: 100%;

}

@media only screen and (max-width: 660px){
   body{
   background-image: url('kalendertelefonRudi.png');
   }
   #spm{
      max-width: 70%;
   }
   img{
      width: 70%;
      text-align: left;
   }

}
