body {
  flex-direction: column;
  display: flex;
  align-items: center;
}

#videoConteiner {
  display: flex;
  justify-content: center;
}

#videoConteiner video {
  border-radius: 8px;
  overflow: hidden;
}



h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Style Script", cursive;
  letter-spacing: 1px;
}

.form {
    display: flex;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-family: "Style Script", cursive;
    font-size: x-large;
    letter-spacing: 1px;
    background-color: blue;
    border-radius: 20px;
    opacity: 50%;
    justify-content: center;
}

:hover.form {
  transition: 400ms;
  opacity: 100%;
}

input {
  border-radius: 20px;
  box-shadow: 1px;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("./kalenderphone.png");
  }
  video {
    width: 90%;
  }
  .form {
    font-size: xx-large;
    margin-left: 10%;
    margin-right: 10%;
  }

  .wrapper {
    margin-top: 100px;
  }



  /* end mediaquery */
}
